<html lang="en">
    <head>
        <title>test</title>
    </head>
    <body>
        <h1>Test</h1>
        <video id='localStream' width="300" controls></video>
        <textarea id="mySignalTxt" rows="3" cols="100"></textarea>
        <input id="friendSignal" type="text" placeholder="Your friend's signal"></input>
        <button id="connectBtn">Connect</button>
    </body>

    <script src="main.js"></script>
</html>
