<html lang="en">
    <head>
        <title>test</title>
    </head>
    <body>
        <h1>Test</h1>
        <video id='localStream' width="300" controls></video>
    </body>
    <script>
        navigator.mediaDevices.getUserMedia({ audio: true, video: true})
        .then(stream => {
            const video = document.getElementById('localStream');
            video.srcObject = stream;
            video.onloadedmetadata = () => {video.play()};
        })
        .catch(error => console.log(error));
    </script>
</html>
